.site-footer {
  padding-inline-start: var(--site-horizontal-padding);
  padding-inline-end: var(--site-horizontal-padding);
  border-bottom: 0;
  color: var(--main-text);
  z-index: 9999;
}
.site-footer:before {
  content: "";
  width: 100%;
  background: var(--grid-borders);
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  z-index: 99;
  display: block;
}
.site-footer .footer-top {
  padding-top: var(--box-auto-top);
  padding-bottom: var(--box-auto-top);
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-gap: min(100px, var(--box-auto-top)); */
  grid-gap: 10px;
}
.site-footer .footer-top[data-size="3"] {
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 768px), screen and (max-width: 1024px) and (orientation: portrait) {
  .site-footer .footer-top[data-size="3"] {
    grid-template-columns: 1fr;
  }
}
.site-footer .footer-top[data-size="4"] {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.site-footer .footer-top[data-size="6"] {
  grid-template-columns: 1fr 1fr 1fr;
  height: -webkit-fill-available;
  row-gap: 50px;
  column-gap: 21px;
}
@media screen and (max-width: 1023px) {
  .site-footer .footer-top[data-size="4"] {
    grid-template-columns: 1fr 1fr;
  }
  .mm-image {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .site-footer .footer-top {
    grid-template-columns: 1fr!important;
    gap: 20px!important;
    padding: 32px 0;
  }
  .mm-image {
    width: 100%;
  }
  .site-footer:before {
    height: 0;
  }
  .box__newsletter {
    padding-bottom: 0;
  }
  .site-footer .footer-menu>span:not(:last-child) {
    margin-bottom: 10px!important;
  }
  .site-footer .site-social {
    flex-direction: row!important;
  }
}
.site-footer .site-payment {
  max-width: 50vw;
}
html[dir=rtl] .site-footer .site-payment:first-child {
  text-align: right;
}
html[dir=ltr] .site-footer .site-payment:first-child {
  text-align: left;
}
.site-footer .footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.site-footer .footer-bottom:first-child {
  padding-top: 50px;
  padding-bottom: 50px;
}
.site-footer .footer-bottom > div:first-child {
  margin-inline-end: 50px;
}
@media screen and (max-width: 726px) {
  .site-footer .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
  .site-footer .footer-bottom > div:first-child {
    margin-inline-end: 0;
  }
  html[dir=rtl] .site-footer .footer-bottom .footer-copyright, html[dir=rtl] .site-footer .footer-bottom .site-payment {
    text-align: right !important;
  }
  html[dir=ltr] .site-footer .footer-bottom .footer-copyright, html[dir=ltr] .site-footer .footer-bottom .site-payment {
    text-align: left !important;
  }
  .site-footer .footer-bottom .localization-form-holder ~ .footer-copyright {
    margin-top: 50px;
  }
  .site-footer .footer-bottom .site-payment {
    max-width: 100%;
  }
}
html[dir=rtl] .site-footer .footer-copyright {
  text-align: left;
}
html[dir=ltr] .site-footer .footer-copyright {
  text-align: right;
}
html[dir=rtl] .site-footer .footer-copyright:first-child {
  text-align: right;
}
html[dir=ltr] .site-footer .footer-copyright:first-child {
  text-align: left;
}
html[dir=rtl] .site-footer .localization-form-holder ~ .footer-copyright .site-payment {
  text-align: left;
}
html[dir=ltr] .site-footer .localization-form-holder ~ .footer-copyright .site-payment {
  text-align: right;
}
.site-footer .footer-image svg {
  background: rgba(0, 0, 0, 0.05);
}
@media screen and (min-width: 641px) {
  .site-footer .footer-item .title {
    margin-bottom: 1.5em;
  }
  .site-footer .footer-top + .footer-bottom {
    border-top: 1px solid var(--grid-borders);
    padding-top: 50px;
    /* padding-bottom: var(--box-auto-top); */
    padding-bottom: 0px;
  }
}
.site-footer .footer-content p:last-child {
  margin-bottom: 0;
}
.site-footer .footer-menu > span {
  line-height: 1;
  display: block;
  min-height: 16px;
  color: var(--Black, #000);
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.site-footer .footer-menu > span:not(:last-child) {
  margin-bottom: 10px;
}
.site-footer .site-social {
  flex-direction: row-reverse;
  margin-bottom: 0;
  align-items: baseline;
}
.site-footer .site-social a {
  display: flex;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  line-height: 1;
  align-items: center;
}
.site-footer .site-social a:not(:last-child) {
  margin-bottom: 1.25em;
}
.site-footer .site-social .icon {
  width: 16px;
  height: 16px;
  margin: 0;
  margin-inline-end: 1em;
}
.site-footer .site-social .icon svg {
  width: 100% !important;
  height: 100% !important;
}
.site-footer .site-social .icon svg * {
  fill: var(--main-text);
}
.site-footer .site-social .text {
  background-position: 0 calc(1em + 2px);
  transform: translateY(1px);
}

.site-copyright {
  display: block;
  margin-top: 10px;
}

shop-login-button {
  display: block;
  margin-bottom: 18px;
}

/* Custom footer styling */

@media screen and (min-width: 1024px) {
  .footer-top {
    width: 60%;
    height: 300px;
    padding-top: 50px!important;
  }

  .footer-bottom {
    width: 100%;
  }
  
  .mount-newsletter {
    width: 28%;
    float: right;
  }

  .site-box-newsletter {
    height: 300px;
  }

  .box__newsletter {
    height: 300px!important;
    padding: 0;
    max-height: 300px;
    min-height: 300px;
  }
}

  
  .site-box-newsletter {
    z-index: 99999;
  }

.footer-item .title {
  color: var(--Black-60, #666);
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

.footer-content,
.copyright-text {
  color: var(--Black, #000);
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.footer-content p {
  margin-bottom: 10px;
}

.crafted {
  font-size: 12px;
  line-height: 16px;
}

@media screen and (min-width: 1025px) {
  .footer-top > div:nth-child(6) > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-width: 250px;
    position: absolute;
  }
  .footer-top > div:nth-child(6) > div > p:nth-child(even) {
    text-align: right;
  }
}